<html>
<head>
	<style>
		html {
			background-color: #eee;
		}

		body {
			width: 700px;
			max-width: 700px;
			background-color: #fff;
			padding: 2em 1.5em 1.5em 1.5em;
			font: 11pt/14pt Arial, sans-serif;
		}

		blockquote {
			background-color: #eee;
			padding: 1em;
			border: solid 1px #ccc;
			margin: 2em 0 1em 0;
		}
	</style>
</head>
<body>
	{block content}{/block}
</body>
</html>
