<html>
<head>
	<style>
		html {
			background-color: #eee;
		}

		body {
			width: 700px;
			max-width: 700px;
			background-color: #fff;
			padding: 2em 1.5em 1.5em 1.5em;
			font: 11pt/14pt Arial, sans-serif;
		}

		blockquote {
			background-color: #eee;
			padding: 1em;
			border: solid 1px #ccc;
			margin: 2em 0 1em 0;
		}

		.margin-top-0 {
			margin-top: 0 !important;
		}

		.text-center {
			text-align: center;
		}

		.support-footer {
			text-align: center;
			margin-top: 2em;
		}

		.label {
			display: inline-block;
			text-decoration: none;
			padding: 5px 10px;
			border-radius: 3px;
		}

		.label.large {
			padding: 10px 50px;
		}

		.primary {
			color: #fff;
			background-color: #38a8eb;
		}

		.primary:hover {
			background-color: #439cdb;
		}

		.secondary {
			color: #000;
			background-color: #e7fafc;
		}

		.secondary:hover {
			background-color: #d7f2f4;
		}

		.success {
			color: #fff;
			background-color: #8ac748;
		}

		.success:hover {
			background-color: #7eba4a;
		}

		.hidden {
			color: #000;
			background-color: #dbe2e4;
		}

		.hidden:hover {
			background-color: #cfd4d6;
		}
	</style>
</head>
<body>
{block content}{/block}
</body>
</html>
