<div class="support-footer">
	{* statuses *}
	<span class="status">
		<a href="{$ticket_url}?do=changeStatus&status=pending" class="label hidden">Do odeslaných</a>
		<a href="{$ticket_url}?do=changeStatus&status=closed" class="label hidden">Zavřít</a>
	</span>

	{* staff *}
	{foreach $all_staff as $staff}
		<a href="{$ticket_url}?do=changeStaff&staffId={$staff->getId()}"
		   class="label hidden">{$staff->getFullName()}</a>
	{/foreach}
</div>