{* this message receives support after contact created a new ticket *}

{layout '../@layout_email.latte'}

{block content}
	<blockquote class="margin-top-0">
		{$message->getMessage()|noescape}
	</blockquote>

	<p>Odpovědět můžete zde: <a href="{$ticket_url}">{$ticket_url}</a></p>

	{include 'footer.latte'}
{/block}