{* this message receives support after contact created a new ticket *}

{layout '../@layout_email.latte'}

{block content}
	<blockquote class="margin-top-0">
		{$message->getMessage()|noescape}
	</blockquote>

	{* reply link *}
	<p class="text-center">
		<a href="{$ticket_url}#{$message->getId()}" class="label success large">Odpovědět</a>
	</p>

	{include 'footer.latte'}
{/block}