{* this message receives contact after support created a new message in existing ticket *}

{layout '../@layout_email.latte'}

{block content}
	<p>Vážený kliente,</p>
	<p>máte novou odpověď na ticket s číslem <strong>{$ticket->getNumber()}</strong> od technické podpory.</p>
	<p>Detaily naleznete zde: <a href="{$ticket_url}">{$ticket_url}</a></p>

	<blockquote>
		{$message->getMessage()|noescape}
	</blockquote>
{/block}